.productTile {
    display: flex;
    flex-direction: row;
    border-top: 2px solid grey;
    margin: 10px 20px 10px 20px;
    justify-content: center;
    gap: 30px;
}

.productTile>img {
    width: 20%;
    height: auto;
    margin-top: 20px;
    margin-left: 15px;
    align-self: center;
}

.productTitlePrice {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: space-around;
}

.productTitlePrice>h2 {
    margin: 0;
}

.productTileRightSide {
    padding-top: 10px;
    display: grid;
    grid-template-rows: repeat(3, auto);
}

.productDesc {
    display: flex;
    flex-direction: column;
    font-family: 'Nimbus Mono PS', 'Courier New', monospace;

}

.productButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}