.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: solid 2px grey;
  padding: 5px 10px 5px 10px;
  font-family: 'Nimbus Mono PS', 'Courier New', monospace;
  font-weight: 600;
}

.navLinks {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.navCart {
  display: flex;
  flex-direction: row;
  gap: 10px;
}


.navBar>h1 {
  font-size: 42px;
}

a {
  color: black;
}

a:hover {
  color: rgb(165, 3, 3);
}

#cartItems {
  font-size: 12px;
  translate: -10px;
}
