.footer {
  border-top: solid 2px grey;
  display: flex;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: 'Nimbus Mono PS', 'Courier New', monospace;
  font-weight: 600;
  max-height: 50px;
  background-color: black;
  box-shadow: 0px -2px 2px rgb(135, 135, 135);
}

.footer > h3 {
  color: white;
}
