.cartProductTile {
    display: grid;
    grid-template-columns: auto 1fr auto;
    border-top: 2px solid grey;
    margin: 10px 20px 10px 20px;
    gap: 30px;
    transition: opacity 0.5s ease-out, transform 125ms;

}

.cartProductTile>img {
    width: 200px;
    height: auto;
    margin-top: 20px;
    margin-left: 15px;
    align-self: center;
}

.cartProductRightSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.cartProductTitlePrice {
    display: flex;
    flex-direction: column;
}

.cartProductEdit {
    display: flex;
    align-items: center;
    gap: 10px;
}
.cartProductEdit>button {
    border: 2px solid grey;
}

.cartRFCButton:hover {
    background-color: rgb(165, 3, 3);
    color: white;
}

.cartProductTile.removing  {
    transform: translateX(-500px);
}