.cartProductTile {
    display: grid;
    grid-template-columns: auto 1fr auto;
    border-top: 2px solid grey;
    margin: 10px 20px 10px 20px;
    gap: 30px;
    transform: scale(1, 1);
    filter: brightness(100%);
    overflow: hidden;
}

.cartProductTile>img {
    width: 200px;
    height: auto;
    margin-top: 20px;
    margin-left: 15px;
    align-self: center;
}

.cartProductRightSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.cartProductTitlePrice {
    display: flex;
    flex-direction: column;
}

.cartProductEdit {
    display: flex;
    align-items: center;
    gap: 10px;
}
.cartProductEdit>button {
    border: 2px solid grey;
}

.cartRFCButton:hover {
    background-color: rgb(165, 3, 3);
    color: white;
}

.cartProductTile.removing {
    transition: transform 500ms, opacity 500ms, filter 500ms;
    transform: translateX(-2000px);
    filter: brightness(120%);
    opacity: 0;    
}
