.cartProductTile {
    display: flex;
    flex-direction: row;
    border-top: 2px solid grey;
    margin: 10px 20px 10px 20px;
    gap: 30px;
}

.cartProductTile>img {
    width: 20%;
    height: auto;
    margin-top: 20px;
    margin-left: 15px;
    align-self: center;
}

.cartProductRightSide {
    
}